<!DOCTYPE html>
<html>

@await Html.PartialAsync("_head")

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        @await Html.PartialAsync("_topo")
        @await Html.PartialAsync("_menu")

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewBag.Titulo</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.SubTitulo</h3>
                    </div>
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("_footer")
    </div>
    <!-- ./wrapper -->
    @await Html.PartialAsync("_scripts")
</body>

</html>