
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nome do Funcionário*</label>
            <input class="form-control" id="nome" />
        </div>
        <div class="form-group">
            <label>Telefone*</label>
            <input class="form-control" id="tel" />
        </div>
        <div class="form-group">
            <label>CPF*</label>
            <input class="form-control" id="cpf" />
        </div>
        <div class="form-group">
            <label>Rua*</label>
            <input class="form-control" id="rua" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Bairro*</label>
            <input class="form-control" id="bairro" />
        </div>
        <div class="form-group">
            <label>Cidade*</label>
            <input class="form-control" id="cidade" />
        </div>
        <div class="form-group">
            <label>Estado*</label>
            <input class="form-control" id="estado" />
        </div>
        <div class="form-group">
            <label>Complemento</label>
            <input class="form-control" id="complemento" />
        </div>
    </div>
</div>
<button class="btn btn-success" onclick="Check(3)">Cadastrar</button>