
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="form-group">
        <label>Cliente Selecionado</label>
        <input class="form-control" id="nome" readonly />
    </div>
    <div class="form-group">
        <label>Animal Selecionado</label>
        <input class="form-control" id="animal" readonly />
    </div>
    <div class="form-group">
        <label>Data do Atendimento*</label>
        <input type="date" class="form-control" id="data" />
    </div>
    <div class="form-group">
        <label>Selecione o Funcionário</label>
        <select class="form-control" id="funcionario">
            <option value="">Selecione</option>
        </select>
    </div>
    <div class="form-group">
        <label>Valor*</label>
        <input class="form-control" id="valor" />
    </div>
    <div class="form-group">
        <label>Descrição do Atendimento</label>
        <textarea class="form-control" id="descricao"></textarea>
    </div>
</div>
<button class="btn btn-success" onclick="Check(7)">Alterar Atendimento</button>