
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Data Inicial</label>
            <input type="date" class="form-control" id="dataInicial" value="@ViewBag.DataInicial" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Data Final</label>
            <input type="date" class="form-control" id="dataFinal" value="@ViewBag.DataFinal"/>
        </div>
    </div>
</div>
<center><button class="btn btn-primary" onclick="ListarAtendimentos()">Pesquisar</button></center>
<hr />
<div class="row" id="divResultado" style="display: none">
    <div class="col-12">
        <div class="card">
            <table class="table table-hover" id="tabelaAtendimento">
            </table>
        </div>
    </div>
</div>
<script src="~/ajax/atendimento.js"></script>
@await Html.PartialAsync("_modal_alterar")