
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Digite aqui para pesquisar o cliente..." id="filtro" onkeyup="FiltrarCliente()"/>
        </div>
        <div class="card">
            <table class="table table-hover" id="tabelaCliente">
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Cliente</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.ListarClientes)
                    {
                        <tr>
                            <td>
                                <a href="/Cliente/AlterarCliente?id=@item.IdCliente" class="btn btn-warning btn-xs">Alterar</a>
                                <a href="/Animal/GerenciarAnimal?id=@item.IdCliente&nome=@item.Nome" class="btn btn-warning btn-xs">Gerenciar Animal</a>
                                <a href="/Atendimento/NovoAtendimento?idNome=@item.IdCliente-@item.Nome" class="btn btn-warning btn-xs">Atendimento</a>
                            </td>
                            <td>@item.Nome</td>
                            <td>@item.Telefone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/ajax/clienteajx.js"></script>