
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Cliente</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-warning btn-xs">Alterar</button>
                            <button class="btn btn-warning btn-xs">Adicionar animal</button>
                            <button class="btn btn-warning btn-xs">Atendimento</button>
                        </td>
                        <td>Claudinha</td>
                        <td>33333333</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-warning btn-xs">Alterar</button>
                            <button class="btn btn-warning btn-xs">Adicionar animal</button>
                            <button class="btn btn-warning btn-xs">Atendimento</button>
                        </td>
                        <td>Kevin</td>
                        <td>33333333</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>